@import url("https://fonts.googleapis.com/css2?family=Arizonia&family=Caveat&family=Codystar:wght@300&family=Courgette&family=Croissant+One&family=Eater&family=Faster+One&family=Fjalla+One&family=Frijole&family=Germania+One&family=Great+Vibes&family=Hurricane&family=Kaushan+Script&family=Lobster&family=Mea+Culpa&family=Monsieur+La+Doulaise&family=Notable&family=Pacifico&family=Permanent+Marker&family=Playball&family=Press+Start+2P&family=Quicksand&family=Rochester&family=Rubik+Beastly&family=Rubik+Glitch&family=Ruslan+Display&family=Sacramento&family=Sevillana&family=Shadows+Into+Light&family=Shojumaru&family=Sofia&family=Staatliches&family=Tangerine&family=Teko:wght@700&family=Unica+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Dancing+Script&family=Fruktur&family=Oswald:wght@200;300&family=PT+Sans&family=Playfair+Display&family=Smooch&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(225deg, #00b1ff, rgb(104 255 0 / 75%) 100%) no-repeat;
}
header {
  background-color: #bcbcbc;
  padding: 12px 12px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  box-shadow: rgb(188 184 184) 1px 10px 20px 14px;
  position: sticky;
  top: 0;
}
header > h3 {
  font-size: 34px;
  color: black;
}
span {
  font-family: "Rubik Glitch", cursive;
  margin: 0px 2px;
  color: orangered;
  letter-spacing: 3px;
}
header > ul {
  display: flex;
  margin-right: 22px;
}
ul a {
  margin: auto;
  color: aliceblue;
  border-radius: 22px;
  transition: all 0.4s ease-in-out;
  padding: 5px;
}
ul a:hover {
  color: rgb(255, 51, 0);
  background-color: aliceblue;
  transform: scale(1.2);
  padding: 2px;
}
ul li {
  margin: auto 12px;
  font-size: 24px;
  font-weight: 800;
  color: black;
}
main {
  margin: auto;
  width: 70%;
}
#about,
#contribute {
  margin: 50px 0px;
  padding: 22px;
  text-align: center;
}
#about > h2,
#contribute > h2 {
  font-size: 44px;
  font-family: "Ruslan Display", cursive;
}
#about > img {
  margin: 30px auto;
  width: 80%;
  height: 400px;
}
#contribute > h2 {
  color: red;
}
#about > p,
#contribute > p {
  width: 60%;
  margin: 32px auto;
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  font-family: 'Quicksand', sans-serif;
}
.effects {
  display: flex;
  flex-direction: column;
}
.effect-title {
  font-family: "Quicksand", sans-serif;
}
.container {
  width: 70%;
  margin: auto;
  padding: 32px;
  z-index: 2;
  justify-items: center;
}
em {
  color: red;
}
.effect-code {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 32px;
  padding: 30px;
}
.effect-code > a {
  color: crimson;
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ffffffb3;
  text-align: center;
}
footer > h2 {
  margin: 12px;
  font-size: 32px;
}
.social_icons,
.icons {
  width: fit-content;
  display: flex;
  margin: auto;
  padding: 20px;
}
.social_icons a:hover,
.icons a:hover {
  transform: scale(1.5);
}
.social_icons a,
.icons a {
  transition: transform 0.2s ease-out;
  margin: 2px;
}
.social_icons img,
.icons img {
  width: 60px;
  height: 60px;
}
/* ###------------------------------ Effects -------------------------------------### */

/* --------------------- // add your styles from here onwards // -------------------- */

.wrapper1,
.wrapper2,
.wrapper3,
.wrapper4,
.wrapper5
{
  /* add your wrapper class here*/
  margin: 12px;
  padding: 30px;
}

/* ----------------------------------  UI-1 css code ------------------------------------ */

.card1 {
  margin: 42px auto;
  position: relative;
  width: 200px;
  height: 350px;
  background: url("./assets/img1.jpg") center/cover;
  border-radius: 0.5em;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, -1);
  cursor: pointer;
}

.layer {
  position: absolute;
  display: flex;
  bottom: -10px;
  left: 0;
  width: 290px;
}

.layer span {
  display: block;
  width: 69px;
  height: 120px;
  margin: 0;
  background-color: rgba(2, 2, 2, 0.623);
  transform: translateY(200px);
  transition: 0.3s ease-in-out;
}

.text {
  position: absolute;
  top: 1em;
  left: 10px;
  z-index: 1;
  transform: translateY(200px);
  transition: 1s ease-in-out;
}

.card1:hover .layer .text {
  transform: translateY(0);
}

.card1:hover .layer span {
  transform: translateY(0);
}

.text h4 {
  font-size: 16px;
  padding: 0.3em;
  font-weight: bolder;
  color: #bfbfbf;
  text-shadow: 0 1px 2px #ccc;
}

.text p {
  font-size: 0.7em;
  padding: 0.3em;
  color: #bfbfbf;
}

.layer span:nth-child(1) {
  transition-delay: 0.1s;
}

.layer span:nth-child(2) {
  transition-delay: 0.2s;
}

.layer span:nth-child(3) {
  transition-delay: 0.3s;
}

/* -------------------------------  UI-2 css code --------------------------------- */

.card2 {
  position: relative;
  text-align: center;
  background-color: rgb(157, 121, 192);
  box-shadow: 2px 3px 24px #3d3d3d;
  width: 300px;
  height: 300px;
  margin: 20px auto;
  transition: color, transform 0.4s 0.3s ease-in-out;

  border-radius: 3%;
  z-index: 1;
  overflow: hidden;
}
.card2 img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: 16px auto;
  box-shadow: 0px 68px 55px white;
}
@keyframes popup {
  100% {
    transform: translate(0, 220px);
  }
}
.card2::before {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 200px;
  min-width: 320px;
  min-height: 340px;
  background-color: rgb(83, 53, 182);
  z-index: -1;
}
.card2:hover {
  color: orangered;
  transform: scale(0.9);
}
.card2:hover::before {
  animation: popup 1s 0.2s forwards;
}
.card2 h3 {
  font-size: 32px;
  font-weight: 800;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* -------------------------------  UI-3 css code --------------------------------- */

.card3 {
  background-color: #00aaa0;
  width: 300px;
  height: 450px;
  margin: 30px auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 3px 24px black;
  color: black;
}
.card__name {
  margin-top: 15px;
  font-size: 1.5em;
}

.card__image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #272133;
  margin-top: 20px;
  box-shadow: 10px 10px 50px #facf5a;
}

.draw-border {
  box-shadow: inset 0 0 0 4px black;
  color: #240747;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: #ffe593;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #eb196e;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  padding: 0.75em 2em;
  letter-spacing: 0.05rem;
  margin: 1em;
  width: 13rem;
}

.btn:focus {
  outline: 2px dotted #55d7dc;
}
/* -------------------------------  UI-4 css code --------------------------------- */

.card4{
  background: linear-gradient(to right, #2c5364, #203a43, #0f2020);
  font-family: 'Ceviche One', cursive;
    width: 250px;
    height: 250px;
    margin: 20px auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.288);
    border-radius: 23px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.user_name{
    margin-bottom: 5px;
    font-size: 2rem;
}
.skill{
    color: rgb(194, 194, 196);
}

.card4 img{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    border-radius: 50%;
}
.card4::before{
    content: "";
    background-color: rgba(233, 230, 227, 0.753);
    width: 500px;
    height: 50px;
    position: absolute;
    top: -50px;
    z-index: -1;

}
@keyframes slider {
    100%{
        transform: translateY(300px);
    }
}
.card4:hover::before{
    animation: slider 1s .3s alternate infinite;
}


.icons a{
    margin-top: 15px;
    text-decoration: none;
    font-size:xx-large;
    margin-left: 5px;
}

.icons .hi:hover{
    transform: translate(0, -10px);
}

/* -------------------------------  UI-5 css code --------------------------------- */
/* Harshit's card css */

.card5 {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 360px;
  height: 360px;
  background: #000;
  margin-top: 13rem;
  box-shadow: 2px 3px 24px #3d3d3d
}
.card5 .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card5 .image img {
  width: 100%;
  transition: .5s;
}
.card5:hover .image img {
  opacity: .5;
  transform: translateX(30%);/*100%*/
}
.card5 .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;/*100%*/
  height: 100%;
  background: #b50404;
  transition: .5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}
.card5:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}
.card5 .details .center {
  padding: 20px;
  text-align: center;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.card5 .details .center h1 {
  margin: 0;
  padding: 0;
  color: #ff3636;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
}
.card5 .details .center h1 label {
  font-size: 14px;
  color: #262626 !important;
}
.card5 .details .center p {
  margin: 10px 0;
  padding: 0;
  color: #262626;
}
.card5 .details .center ul {
  margin: 10px auto 0;
  padding: 0;
  display: table;
}
.card5 .details .center ul li {
  list-style: none !important;
  margin: 0 5px !important;
  float: left !important;
}
.card5 .details .center ul li a {
  display: block !important;
  background: #262626 !important;
  color: #fff !important;
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
  text-align: center !important;
  transform: .5s !important;
}
.card5 .details .center ul li a:hover {
  background: #ff3636 !important;
}



/* ------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------->>>>>> Break Points <<<<<<<<---------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 500px) {
  header {
    padding: 8px;
  }
  header > h3,
  footer > h2 {
    font-size: 22px;
  }
  header > ul {
    margin-right: 20px;
  }
  ul li {
    margin: auto 10px;
    font-size: 18px;
    font-weight: 700;
  }
  main,
  .container {
    width: 100%;
  }
  #about > p,
  #contribute > p {
    width: 80%;
    margin: 28px auto;
    font-size: 20px;
  }
  .container {
    width: 100%;
    margin: 0px;
    padding: 24px;
    z-index: 2;
    justify-items: center;
  }
  .wrapper1,
  .wrapper2,
  .wrapper3 {
    /* add your wrapper class here*/
    margin: 12px;
    padding: 20px;
  }
  .effect-code {
    width: 100%;
    font-size: 28px;
    padding: 30px;
  }
  .social_icons img {
    width: 50px;
    height: 50px;
  }

   /* ////////////////// break-point code for ui-1 card  ///////////////////// */
  .card1 {
    margin: 42px auto;
    position: relative;
  }
  
}

@media screen and (max-width: 360px) {
  ul li {
    margin: auto 4px;
    font-size: 12px;
    font-weight: 600;
  }
  .wrapper1,
  .wrapper2,
  .wrapper3 {
    /* add your wrapper class here*/
    margin: 6px;
    padding: 12px;
  }
  #contribute > h2 {
    font-size: 20px;
  }
  footer > h2 {
    font-size: 12px;
  }
  #contribute > p{
    font-size: 12px;
  }
  .social_icons img {
    width: 30px;
    height: 30px;
  }
  /* ////////////////// break-point code for ui-2 card  ///////////////////// */
  .card2 {
    width: 200px;
    height: 220px;
    margin: 20px auto;
  }
  .card2 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 12px auto;
    box-shadow: 0px 58px 45px white;
  }
  @keyframes popup {
    100% {
      transform: translate(0, 160px);
    }
  }
  .card2::before {
    bottom: 150px;
    min-width: 220px;
    min-height: 240px;
  }
  .card2 h3 {
    font-size: 22px;
    font-weight: 700;
  }
  /* ////////////////// break-point code for ui-3 card  ///////////////////// */
  
  .card3 {
    width: 200px;
    height: 380px;
  }
  .card__name {
    margin-top: 15px;
    font-size: 1em;
  } 
  .btn {
    line-height: 1;
    margin: .5em;
    width: 10rem;
  }

    /* ////////////////// break-point code for ui-4 card  ///////////////////// */

    .card4{
      width: 180px;
      height: 250px;
    }
    .user_name{
      font-size: 1rem;
      margin: 14px auto;
  }
  
  .card4 img{
      width: 70px;
      height: 70px;
      margin-bottom: 12px;
  }
  .icons a{
    font-size: 24px;
    margin-left: 3px;
}
}
