@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Quicksand:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(225deg, #1180a2, rgba(13, 203, 245, 0.75) 100%) no-repeat;
}

/* Gradient Scroll Bar */

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #1f2937;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(134, 239, 172),
      rgb(59, 130, 246),
      rgb(147, 51, 234));
}

header {
  background-color: #bf8d36;
  padding: 12px 12px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  box-shadow: 2px 3px 12px rgb(88, 88, 88);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: sticky;
  top: 0;
}

header>h3 a {
  font-size: 30px;
  color: beige;
  font-family: "Merriweather", serif;
}

span {
  font-family: "Merriweather", serif;
  margin: 0px 2px;
  color: orangered;
  letter-spacing: 3px;
}

header>ul {
  display: flex;
  /* margin-right: 22px; */
}

ul li {
  margin: auto;
  color: aliceblue;
  transition: all 0.4s ease-in-out;
}

ul a:hover {
  color: rgb(91, 144, 194);
  background-color: aliceblue;
  transform: scale(1.2);
  border-radius: 22px;
  padding: 8px;
}

ul li a {
  margin: auto 12px;
  font-weight: 500;
  color: black;
  font-family: "Quicksand", serif;
}

/* ###------------------------------ Fonts for body start here -------------------------------------### */
#Merriweather {
  font-family: "Merriweather", serif !important;
}

#Quicksand {
  font-family: "Quicksand", serif !important;
}

/* ###------------------------------ bannerImage start here -------------------------------------### */

@media only screen and (max-width: 600px) {
  #banner_image {
    width: 50% !important;
    height: 50% !important;
  }
}

main {
  margin: auto;
  width: 70%;
}

#about,
#contribute {
  margin: 50px 0px;
  padding: 22px;
  text-align: center;
}

#about>h2,
#contribute>h2 {
  font-size: 44px;
  font-family: "Quicksand", serif;
}

#about>img {
  margin: 30px auto;
  width: 80%;
  height: 400px;
}

#contribute>h2 {
  color: red;
}

#about>p,
#contribute>p {
  width: 60%;
  margin: 32px auto;
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  font-family: "Quicksand", serif;
}

.effects {
  display: flex;
  flex-direction: column;
}

.effect-title {
  font-family: "Merriweather", serif;
}

.container {
  width: 70%;
  margin: auto;
  padding: 32px;
  z-index: 2;
  justify-items: center;
}

em {
  color: black;
}

.effect-code {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 32px;
  padding: 30px;
}

.effect-code>a {
  color: crimson;
}

.icons {
  width: fit-content;
  display: flex;
  margin: auto;
  gap: 0.4rem;
}

.icons a:hover {
  transform: scale(1.2);
}

.icons a {
  transition: transform 0.2s ease-out;
  margin: 2px;
}

.icons img {
  width: 60px;
  height: 60px;
}

/* ###------------------------------ footer design -------------------------------------### */
footer {
  background-color: #087c8b;
  color: white;
  font-size: min(5vw, 16px);
  font-family: "Quicksand", serif;
}

#footer-container {
  width: 70%;
  margin: auto;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid white;
}

.social_icons {
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer a .fa {
  color: white;
  font-size: 30px;
  border-radius: 50%;
}

footer .fa:not(.fa-copyright):hover {
  color: #000;
}

/* ###------------------------------ Effects -------------------------------------### */

/* --------------------- // add your styles from here onwards // -------------------- */

.wrapper1,
.wrapper2,
.wrapper3,
.wrapper4,
.wrapper5,
.wrapper6,
.wrapper7,
.wrapper8,
.wrapper9 {
  /* add your wrapper class here*/
  margin: 12px;
  padding: 30px;
}

/* ----------------------------------  UI-1 css code ------------------------------------ */

.card1 {
  margin: 42px auto;
  position: relative;
  width: 200px;
  height: 350px;
  background: url("./assets/img1.webp") center/cover;
  border-radius: 0.5em;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, -1);
  cursor: pointer;
}

.layer {
  position: absolute;
  display: flex;
  bottom: -10px;
  left: 0;
  width: 290px;
}

.layer span {
  display: block;
  width: 69px;
  height: 120px;
  margin: 0;
  background-color: rgba(2, 2, 2, 0.623);
  transform: translateY(200px);
  transition: 0.3s ease-in-out;
}

.text {
  position: absolute;
  top: 1em;
  left: 10px;
  z-index: 1;
  transform: translateY(200px);
  transition: 1s ease-in-out;
}

.card1:hover .layer .text {
  transform: translateY(0);
}

.card1:hover .layer span {
  transform: translateY(0);
}

.text h4 {
  font-size: 16px;
  padding: 0.3em;
  font-weight: bolder;
  color: #bfbfbf;
  text-shadow: 0 1px 2px #ccc;
}

.text p {
  font-size: 0.7em;
  padding: 0.3em;
  color: #bfbfbf;
}

.layer span:nth-child(1) {
  transition-delay: 0.1s;
}

.layer span:nth-child(2) {
  transition-delay: 0.2s;
}

.layer span:nth-child(3) {
  transition-delay: 0.3s;
}

/* -------------------------------  UI-2 css code --------------------------------- */

.card2 {
  position: relative;
  text-align: center;
  background-color: rgb(157, 121, 192);
  box-shadow: 2px 3px 24px #3d3d3d;
  width: 300px;
  height: 300px;
  margin: 20px auto;
  transition: color, transform 0.4s 0.3s ease-in-out;

  border-radius: 3%;
  z-index: 1;
  overflow: hidden;
}

.card2 img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: 16px auto;
  box-shadow: 0px 68px 55px white;
}

@keyframes popup {
  100% {
    transform: translate(0, 220px);
  }
}

.card2::before {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 200px;
  min-width: 320px;
  min-height: 340px;
  background-color: rgb(83, 53, 182);
  z-index: -1;
}

.card2:hover {
  color: orangered;
  transform: scale(0.9);
}

.card2:hover::before {
  animation: popup 1s 0.2s forwards;
}

.card2 h3 {
  font-size: 32px;
  font-weight: 800;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* -------------------------------  UI-3 css code --------------------------------- */

.card3 {
  background-color: #00aaa0;
  width: 300px;
  height: 450px;
  margin: 30px auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 3px 24px black;
  color: black;
}

.card__name {
  margin-top: 15px;
  font-size: 1.5em;
}

.card__image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #272133;
  margin-top: 20px;
  box-shadow: 10px 10px 50px #facf5a;
}

.draw-border {
  box-shadow: inset 0 0 0 4px black;
  color: #240747;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: #ffe593;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #eb196e;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  padding: 0.75em 2em;
  letter-spacing: 0.05rem;
  margin: 1em;
  width: 13rem;
}

.btn:focus {
  outline: 2px dotted #55d7dc;
}

/* -------------------------------  UI-4 css code --------------------------------- */

.card4 {
  background: linear-gradient(to right, #2c5364, #203a43, #0f2020);
  font-family: "Ceviche One", cursive;
  width: 250px;
  height: 250px;
  margin: 20px auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.288);
  border-radius: 23px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.user_name {
  margin-bottom: 5px;
  font-size: 2rem;
}

.skill {
  color: rgb(194, 194, 196);
}

.card4 img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  border-radius: 50%;
}

.card4::before {
  content: "";
  background-color: rgba(233, 230, 227, 0.753);
  width: 500px;
  height: 50px;
  position: absolute;
  top: -50px;
  z-index: -1;
}

@keyframes slider {
  100% {
    transform: translateY(300px);
  }
}

.card4:hover::before {
  animation: slider 1s 0.3s alternate infinite;
}

.icons a {
  margin-top: 15px;
  text-decoration: none;
  font-size: xx-large;
  margin-left: 5px;
}

.icons .hi:hover {
  transform: translate(0, -10px);
}

/* Harshit's card css */
/* .sub-head{
  margin-left: 3rem;
} */
.card5 {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  height: 360px;
  background: #000;
  margin-top: 13rem;
  box-shadow: 2px 3px 24px #3d3d3d;
}

.card5 .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card5 .image img {
  width: 100%;
  transition: 0.5s;
}

.card5:hover .image img {
  opacity: 0.5;
  transform: translateX(30%);
  /*100%*/
}

.card5 .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  /*100%*/
  height: 100%;
  background: #b50404;
  transition: 0.5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}

.card5:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}

.card5 .details .center {
  padding: 20px;
  text-align: center;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.card5 .details .center h1 {
  margin: 0;
  padding: 0;
  color: #ff3636;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
}

.card5 .details .center h1 label {
  font-size: 14px;
  color: #262626 !important;
}

.card5 .details .center p {
  margin: 10px 0;
  padding: 0;
  color: #262626;
}

.card5 .details .center ul {
  margin: 10px auto 0;
  padding: 0;
  display: table;
}

.card5 .details .center ul li {
  list-style: none !important;
  margin: 0 5px !important;
  float: left !important;
}

.card5 .details .center ul li a {
  display: block !important;
  background: #262626 !important;
  color: #fff !important;
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
  text-align: center !important;
  transform: 0.5s !important;
}

.card5 .details .center ul li a:hover {
  background: #ff3636 !important;
}

/*Divyanshu card*/
.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.handles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

.container1 {
  height: 250px;
  width: 250px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  background: linear-gradient(45deg, #960fb1, #2aacc7);
}

.container1:hover {
  height: 470px;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

/* saikiran css start */
.container1 .wrappers img {
  position: relative;
  z-index: 5;
  border-radius: 50%;
  display: block;
  height: 200px;
  width: 200px;
  border: 5px solid #fff;
  object-fit: cover;
  margin: 20px auto;
  transition: all 0.3s ease;
}

.container1:hover .wrappers img.active {
  height: 470px;
  width: 350px;
  margin: 0px auto;
  border: none;
  border-radius: 5px;
}

.wrappers .title {
  color: #fff;
  padding: 15px;
  padding-left: 70px;
  font-size: 30px;
  font-weight: 500;
  padding-top: 55px;
  line-height: 25px;
}

.wrappers .title:hover,
.title:active {
  color: rgb(238, 101, 15);
}

.wrappers .place {
  padding-bottom: 20px;
  padding-left: 115px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 17px;
  line-height: 0px;
  margin: 10px 0;
}

.content {
  color: #fff;
  font-size: 17px;
  margin-top: 10px;
  padding: 1px 20px 10px 20px;
}

.content .buttons {
  display: flex;
}

.buttons .btn {
  height: 65px;
  width: 1000px;
  margin: 0 5px;
}

.buttons .btn button {
  height: 110%;
  width: 150%;
  background: rgb(237, 243, 237);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  transition: all 0.3s;
}

.btn button:hover {
  transform: scale(0.95);
  color: #fff;
  background: linear-gradient(45deg, #08cb1b, #0338f8);
}

.card7 .container1 .icons {
  position: relative;
  margin-top: -225px;
  margin-left: 10px;
  list-style: none;
}

.container1.icons.active {
  display: none;
}

.container1 .icons li {
  height: 37px;
  width: 35px;
  margin: 5px 0;
  opacity: 0;
  margin-left: -100px;
  transition: all 0.5s ease;
}

.container1:hover .icons li {
  opacity: 1;
  margin-left: 7px;
}

.container1:hover .icons li:nth-child(2) {
  transition-delay: 0.2s;
}

.container1:hover .icons li:nth-child(3) {
  transition-delay: 0.3s;
}

.container1:hover .icons li:nth-child(4) {
  transition-delay: 0.4s;
}

.container1:hover .icons li:nth-child(5) {
  transition-delay: 0.4s;
}

.container1 .icons li a {
  color: #7b00e0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: rgb(242, 237, 237);
  display: block;
  line-height: 40px;
  transition: all 0.3s;
}

.container1 .icons li a:hover {
  transform: scale(0.9);
  color: #fff;
  background: linear-gradient(45deg, #1505c6, #f80653);
}

/* -------------------------------  UI-8 css code --------------------------------- */
.card8 {
  background-image: url("assets/elaina.webp");
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 400px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8), -3px -3px 10px rgba(0, 0, 0, 0.8);
  transition: 0.3s all ease;
}

.card8:hover {
  transform: scale(0.95);
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.9), -6px -6px 15px rgba(0, 0, 0, 0.9);
}

.image-black {
  transition: 0.3s all ease;
  position: absolute;
  width: 100%;
  height: 100%;
}

.card8:hover .image-black {
  background-color: rgba(0, 0, 0, 0.5);
}

.side-media {
  transition: 0.3s all ease;
  position: absolute;
  overflow: hidden;
  padding-top: 15px;
  background-color: #cdf0ea;
  width: 0;
  height: 100%;
}

.side-media li {
  transition: 0.3s all ease;
  margin-left: -100px;
  margin-bottom: 15px;
}

.side-media li a span:hover {
  transform: rotate(360deg);
}

.side-media li a span {
  color: #000;
  transition: 0.3s all ease;
}

.card8:hover .side-media {
  width: 70px;
}

.card8:hover .side-media li {
  margin-left: 0;
}

.card8:hover .side-media li:nth-child(1) {
  transition-delay: 0.1s;
}

.card8:hover .side-media li:nth-child(2) {
  transition-delay: 0.2s;
}

.card8:hover .side-media li:nth-child(3) {
  transition-delay: 0.3s;
}

.card8:hover .side-media li:nth-child(4) {
  transition-delay: 0.4s;
}

.card-content8 {
  background-color: #cdf0ea;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: start;
  padding: 10px 20px;
}

.wrap-btn8 {
  transition: 0.6s all ease;
  height: 0;
  overflow: hidden;
}

.btn-follow8 {
  background-color: #e94560;
  letter-spacing: 0.6px;
  margin-top: 10px;
  border: 0px solid;
  padding: 10px 22px;
  border-radius: 8px;
}

.btn-follow8 a {
  color: white;
}

.card8:hover .wrap-btn8 {
  height: 50px;
}

/* -------------------------------  UI-9 css code --------------------------------- */

.wrapper9 .card9 {
  display: block;
  position: relative;
  /* check */
  margin: 50px auto;
  height: 300px;
  width: 300px;
  overflow: hidden;
  background: linear-gradient(45deg, #ff99cc, #1180a2, #ff99cc, #1180a2);
  border-radius: 7px;
  background-size: 500% 100%;
  box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.4),
    -6px -6px 13px 0px rgba(0, 0, 0, 0.4);
  transition: 0.45s cubic-bezier(0, 0, 0.56, 2.58);
}

.wrapper9 .card9:hover {
  transform: scale(0.9);
  animation: gradient 1.5s infinite linear;
  border-radius: 25px;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 0%;
  }
}

.wrapper9 .card9 .contents {
  width: inherit;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper9 .card9 .contents .gh-avatar {
  padding-top: 10px;
  text-align: center;
  border-radius: 40%;
}

.wrapper9 .card9 .contents .gh-avatar img {
  border-radius: 40%;
  width: 70px;
  height: 70px;
}

.wrapper9 .card9 .contents .details {
  padding-top: 130px;
  padding-bottom: 20px;
  width: inherit;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  gap: 3px;
  transition: 0.4s ease-out;
}

.wrapper9 .card9:hover .contents .details {
  padding-top: 20px;
}

.wrapper9 .card9 .contents .details p {
  background-color: rgba(240, 248, 255, 0.548);
  border: 2px solid #1180a280;
  border-radius: 10px;
  font-size: 24px;
  padding: 0px 6px;
  color: #06580f;
  font-weight: bold;
  transition: all 0.4s ease-out;
}

.wrapper9 .card9 .contents .details p.skill {
  font-size: 19px;
  font-weight: normal;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.wrapper9 .card9 .contents .details p.uname {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.wrapper9 .card9:hover .contents .details p:hover {
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.3), -1px -1px 12px rgba(0, 0, 0, 0.3);
}

.wrapper9 .card9 .contents .strip {
  margin-top: 10px;
  position: relative;
  height: 70px;
  background-color: rgba(240, 248, 255, 0.4);
  transition: all 0.4s ease-out;
}

.wrapper9 .card9:hover .contents .strip {
  margin-top: 60px;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5),
    -1px -1px 5px rgba(0, 0, 0, 0.5);
}

.wrapper9 .card9 .contents .reach-out {
  display: flex;
  flex-direction: row;
  gap: 3px;
  justify-content: center;
}

.wrapper9 .card9 .contents .reach-out span {
  color: black;
  height: 40px;
  width: 40px;
}

.wrapper9 .card9 .contents .reach-out a {
  margin-top: 300px;
  transition: all 0.4s ease-out;
}

.wrapper9 .card9:hover .contents .reach-out a {
  transition-delay: 0.2s;
}

.wrapper9 .card9:hover .contents .reach-out a {
  margin-top: 10px;
}

.wrapper9 .card9:hover .contents .reach-out a:nth-child(1) {
  transition-delay: 0.1s;
}

.wrapper9 .card9:hover .contents .reach-out a:nth-child(2) {
  transition-delay: 0.2s;
}

.wrapper9 .card9:hover .contents .reach-out a:nth-child(3) {
  transition-delay: 0.3s;
}

/* -------------------------------  UI-10 css code --------------------------------- */
.container10 {
  display: flex;
  justify-content: center;
}

.card10 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  background-color: black;
  border-radius: 30px;
  overflow: hidden;
  transition: box-shadow 300ms ease-in-out;
  max-width: 400px;
}

.card10>img {
  z-index: 1;
  transform-origin: bottom;
  transition: scale 300ms ease-in-out;
}

.circle {
  position: absolute;
  top: 22%;
  left: 13%;
  content: "";
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 50%;
  scale: 0;
  transition: scale 300ms ease-in-out;
}

.card10:hover .circle {
  scale: 2.5;
}

.card10:hover img {
  scale: 1.05;
}

.card10:hover {
  box-shadow: 5px 5px 20px rgb(60, 60, 60), -5px -5px 20px rgb(60, 60, 60);
}

.card10:hover .links span {
  rotate: 360deg;
  color: black;
}

.detailz {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 10;
  color: black;
  margin-top: 30px;
}

.links {
  display: flex;
  margin-top: 10px;
}

.links li {
  margin-inline: 10px;
}

.links span {
  color: rgb(210, 210, 210);
  transition: all 200ms ease-in;
}

.links span:hover {
  color: #1f2937;
}


/* -------------------------------  UI-11 css code --------------------------------- */
.card11 .imagebox {
  position: relative;
  height: 100%;
  width: 100%;
  transform: translateY(-80px);
  z-index: 10;
}

.card11 {
  background: rgba(224, 224, 224, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(224, 224, 224, 0.3);
  background: linear-gradient(45deg, rgba(224, 224, 224, 0.2), rgba(224, 224, 224, 0.2));
  width: 280px;
  height: 180px;
  margin: 0px auto;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  padding: 30px 50px;
  cursor: pointer;
}

.card11:hover {
  height: 320px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.card11 img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);

}

.card11 .content {
  padding: 20px 20px;
  text-align: center;
  transform: translateY(-500px);
  opacity: 0;
  transform: 0.3s;
}

.card11 .content #desc {
  width: 250px !important;
  position: relative;
  right: 55px;
  top: 40px;
}

.content .social-handle11 {
  position: relative;
  right: 10px;
  top: 10px;
  margin-top: 50px !important;
}

.content .handles-icon {
  width: 30px !important;
  height: 30px !important;
  margin-left: 6px;
  margin-right: 6px;
}

.card11:hover>.content {
  transform: translateY(-240px);
  opacity: 1;
}

.card11 .content h2 {
  font-family: 'Roboto', sans-serif;
  color: #040404;
  width: 200px;
  position: relative;
  right: 28px;
  top: 15px;
  font-size: 29px;
}

.card11 .content h3 {
  font-family: 'Sansita', sans-serif;
  color: rgb(27, 29, 58);
  font-size: 23px !important;

}

.card11 .content i {
  padding: 10px;
}

.card11 .content i:hover {
  transform: translateY(10px);
  transition: 0.4s;
  color: #000;
  font-size: medium;
}
/* ----------------------------card-12 css------------------------------------------ */
/* -------------------------------  UI-12 css code --------------------------------- */
:root{
  --clr-neutral-900: hsl(207,19%,9%);
  --clr-neutral-100: hsl(0,0%,100%);
  --clr-accent-400: rgb(239, 251, 14);
}

*,
*::before,
*::after{
  box-sizing: border-box;
}
/* body{
  display: grid;
  min-height: 100vh;
  place-items: center;
  line-height: 1.6;
  background: var(--clr-neutral-900);
  font-family: sans-serif;
  padding-right: 0em;
} */
.card12{
  color: var(--clr-neutral-100);
  background-image: url("assets/pexels-pixabay-356056.jpg");
  background-size: cover;
  padding: 10rem 0 0;
  margin: auto;
  max-width: 35ch;   
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 500ms ease;
  
}
.card12:hover,
.card12:focus-within {
  transform: scale(1.05);
}
.card-content{
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(
      hsl(0 0% 0% / 0),
      hsl(20 0% 0% / 0.3) 20%,
      hsl(0 0% 0% / 1)
  );
  transform: translateY(65%);
  transition: transform 500ms ease;
}
.card-content .social-handle-12{
  display: flex;
  align-items: center;
  right: 10px;
  top: 10px;
  margin-top: 50px !important;
}
.card12:hover .card-content{
  transform: translateY(0);
  transition-delay: 500ms;
}
.card-content > *:not(.card-title){
  opacity: 0;
  transition: opacity 500ms linear;
}

.card12:hover .card-content > *:not(.card-title) {
  opacity: 1;
  transition-delay: 1000ms;
}
.card-title{
  position: relative;
  width: max-content;
  /* outline: 1px solid red; */
}
.card-title::after{
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1 );
  bottom: -2px;
  width: calc(100% + var(--padding));
  background: var(--clr-accent-400);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 500ms ease;

}
.card12:hover .card-title::after{
  transform: scaleX(1);
}
.card-body{
  color: rgb(255 255 255/0.85);
}
.button{
  cursor: pointer;
  display: inline;
  text-decoration: none;
  color: var(--clr-neutral-900);
  background-color: lightgoldenrodyellow;
  padding: 0.5em 1em;
  border-radius: 0.25em;
}
.button:hover,
.button:focus{
  background-color: var(--clr-neutral-400);
}

/* ----------------------------------------->>>>>> Break Points <<<<<<<<---------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 500px) {

  header {
    padding: 8px;
  }

  header>h3,
  footer>h2 {
    font-size: 22px;
  }

  header>ul {
    margin-right: 20px;
  }

  ul li {
    margin: auto 10px;
    font-size: 18px;
    font-weight: 700;
  }

  main,
  .container {
    width: 100%;
  }

  #about>p,
  #contribute>p {
    width: 80%;
    margin: 28px auto;
    font-size: 20px;
  }

  .container {
    width: 100%;
    margin: 0px;
    padding: 24px;
    z-index: 2;
    justify-items: center;
  }

  .wrapper1,
  .wrapper2,
  .wrapper3,
  .wrapper8 {
    /* add your wrapper class here*/
    margin: 12px;
    padding: 20px;
  }

  .effect-code {
    width: 100%;
    font-size: 28px;
    padding: 30px;
  }

  #footer-container {
    width: 100%;
  }

  /* ////////////////// break-point code for ui-1 card  ///////////////////// */
  .card1 {
    margin: 42px auto;
    position: relative;
  }
}

@media screen and (max-width: 360px) {
  ul li {
    margin: auto 4px;
    font-size: 12px;
    font-weight: 600;
  }

  .wrapper1,
  .wrapper2,
  .wrapper3 {
    /* add your wrapper class here*/
    margin: 6px;
    padding: 12px;
  }

  #contribute>h2 {
    font-size: 20px;
  }

  footer>h2 {
    font-size: 12px;
  }

  #contribute>p {
    font-size: 12px;
  }

  footer {
    font-size: 12px;
  }

  /* ////////////////// break-point code for ui-2 card  ///////////////////// */
  .card2 {
    width: 200px;
    height: 220px;
    margin: 20px auto;
  }

  .card2 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 12px auto;
    box-shadow: 0px 58px 45px white;
  }

  @keyframes popup {
    100% {
      transform: translate(0, 160px);
    }
  }

  .card2::before {
    bottom: 150px;
    min-width: 220px;
    min-height: 240px;
  }

  .card2 h3 {
    font-size: 22px;
    font-weight: 700;
  }

  /* ////////////////// break-point code for ui-3 card  ///////////////////// */

  .card3 {
    width: 200px;
    height: 380px;
  }

  .card__name {
    margin-top: 15px;
    font-size: 1em;
  }

  .btn {
    line-height: 1;
    margin: 0.5em;
    width: 10rem;
  }

  /* ////////////////// break-point code for ui-4 card  ///////////////////// */

  .card4 {
    width: 180px;
    height: 250px;
  }

  .user_name {
    font-size: 1rem;
    margin: 14px auto;
  }

  .card4 img {
    width: 70px;
    height: 70px;
    margin-bottom: 12px;
  }

  .icons a {
    font-size: 24px;
    margin-left: 3px;
  }

  /* ////////////////// break-point code for ui-8 card  ///////////////////// */
  .card8 {
    width: 250px;
    height: 350px;
  }
}